html body {
    background: red;
}

.main {
    background: red;
}
.yg51vc{
    background: red;
}

.LX3sZb{
    background: red;
}

.KxwPGc.SSwjIe{
    background: red;
}

.dodTBe{
    background: red;
}

.yg51vc{
    background: red;
}  

.o3j99.n1xJcf.Ne6nSd{
    background: red;
}

.CvDJxb{
    background: red;
}

.GLcBOb.mCRcc{
    background: red;
}
.WE0UJf{
    background: red;
}
.ZGomKf{
    background: red;
}
.J1hqV{
    background: red;
}
.sfbg{
    background: red;
}
#footcnt{
    background: red;

}


/* CSS */
#button-1 {
    background-color: red;
}

.buttonO {
  
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px 10px;
  outline: none;
  padding: 15px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonO:hover,
.buttonO:focus {
    border:solid black 0.5px;
}

#button-2 { background-color: black;
    } /* Green */


  
#button-3 {background-color: pink;   
} /* Blue */


#button-4 {
    background-color: blue;
} 


#button-5 {background-color: green;
    } /* Gray */



    
    /* Red */
#button-6 {background-color: white;
           color:black;
     } /* Gray */



